* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
h1,
p {
  text-align: center;
  margin-top: 10px;
}
h1 {
  font-size: clamp(2rem, 0.718rem + 5.47vw, 4rem);
}
p {
  font-size: clamp(1rem, 0.718rem + 2.47vw, 2rem);
  color: blue;
}
button {
  width: 80px;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: blue;
  color: white;
  margin: 40px auto;
  display: block;
}
